// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../core/resource';
import { APIPromise } from '../../core/api-promise';
import { buildHeaders } from '../../internal/headers';
import { RequestOptions } from '../../internal/request-options';
import { path } from '../../internal/utils/path';

export class Notifications extends APIResource {
  /**
   * Returns paginated notifications for the authenticated developer. Notifications
   * are generated by the AI pipeline to report fill job progress and completion
   * events — for example, when a fill job transitions from `processing` to `ready`
   * or `failed`.
   *
   * Each notification includes an `event_type`, `status`, `pipeline_id`, `read`
   * flag, and the original event `payload`.
   *
   * Use this endpoint to build an in-app notification feed or to poll for fill job
   * completion as an alternative to polling `GET /v1/sdk/docs/{pdfId}/result`.
   *
   * @example
   * ```ts
   * await client.sdk.notifications.list();
   * ```
   */
  list(query: NotificationListParams | null | undefined = {}, options?: RequestOptions): APIPromise<void> {
    return this._client.get('/v1/sdk/notifications', {
      query,
      ...options,
      headers: buildHeaders([{ Accept: '*/*' }, options?.headers]),
      __security: { apiKeyAuth: true },
    });
  }

  /**
   * Returns the total number of unread notifications for the authenticated
   * developer. Useful for displaying a badge counter in your UI without fetching the
   * full notification list.
   *
   * @example
   * ```ts
   * await client.sdk.notifications.getUnreadCount();
   * ```
   */
  getUnreadCount(options?: RequestOptions): APIPromise<void> {
    return this._client.get('/v1/sdk/notifications/unread-count', {
      ...options,
      headers: buildHeaders([{ Accept: '*/*' }, options?.headers]),
      __security: { apiKeyAuth: true },
    });
  }

  /**
   * Marks all unread notifications as read for the authenticated developer in a
   * single operation. Equivalent to calling `POST /v1/sdk/notifications/{id}/read`
   * for every unread notification but more efficient.
   *
   * @example
   * ```ts
   * await client.sdk.notifications.markAllAsRead();
   * ```
   */
  markAllAsRead(options?: RequestOptions): APIPromise<void> {
    return this._client.post('/v1/sdk/notifications/read-all', {
      ...options,
      headers: buildHeaders([{ Accept: '*/*' }, options?.headers]),
      __security: { apiKeyAuth: true },
    });
  }

  /**
   * Marks a single notification as read by its numeric ID. Once marked as read, the
   * notification will no longer be counted in the `unreadCount` returned by
   * `GET /v1/sdk/notifications/unread-count`.
   *
   * @example
   * ```ts
   * await client.sdk.notifications.markAsRead(0);
   * ```
   */
  markAsRead(id: number, options?: RequestOptions): APIPromise<void> {
    return this._client.post(path`/v1/sdk/notifications/${id}/read`, {
      ...options,
      headers: buildHeaders([{ Accept: '*/*' }, options?.headers]),
      __security: { apiKeyAuth: true },
    });
  }
}

export interface NotificationListParams {
  /**
   * Page number (1-based). Defaults to `1`.
   */
  page?: number;

  /**
   * Number of notifications per page (1–100). Defaults to `20`.
   */
  pageSize?: number;
}

export declare namespace Notifications {
  export { type NotificationListParams as NotificationListParams };
}
