// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../core/resource';
import { APIPromise } from '../../core/api-promise';
import { buildHeaders } from '../../internal/headers';
import { RequestOptions } from '../../internal/request-options';

/**
 * Poll or list pipeline events (fill started, ready, failed) generated by the AI backend.
 */
export class Notifications extends APIResource {
  /**
   * Returns paginated pipeline notifications. Response includes `unreadCount`. Query
   * params: `page` (1-based, default 1), `pageSize` (1–100, default 20).
   *
   * @example
   * ```ts
   * await client.sdk.notifications.list();
   * ```
   */
  list(query: NotificationListParams | null | undefined = {}, options?: RequestOptions): APIPromise<void> {
    return this._client.get('/v1/sdk/notifications', { query, ...options, headers: buildHeaders([{Accept: '*/*'}, options?.headers]), __security: { apiKeyAuth : true } });
  }

  /**
   * Pass `{ id }` to mark one notification as read. Omit `id` to mark all unread
   * notifications as read at once.
   *
   * @example
   * ```ts
   * await client.sdk.notifications.markAsRead();
   * ```
   */
  markAsRead(body: NotificationMarkAsReadParams, options?: RequestOptions): APIPromise<void> {
    return this._client.post('/v1/sdk/notifications/read', { body, ...options, headers: buildHeaders([{Accept: '*/*'}, options?.headers]), __security: { apiKeyAuth : true } });
  }
}

export interface NotificationListParams {
  page?: number;

  pageSize?: number;
}

export interface NotificationMarkAsReadParams {
  /**
   * Notification ID. Omit to mark all.
   */
  id?: number;
}

export declare namespace Notifications {
  export {
    type NotificationListParams as NotificationListParams,
    type NotificationMarkAsReadParams as NotificationMarkAsReadParams
  };
}
